@import "tailwindcss";
@keyframes popupIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-popup {
  animation: popupIn 0.35s ease-out forwards;
}
